@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

$alturaHeader:70px;
$alturaLine: 1rem;
$alturaFooter: 40px;
$conte:100vh;

// font
$font: 'Nunito', sans-serif;

// background
$background-color-component: #fff;
$background-color: rgb(241, 241, 241);

// colors
$full-white: #fff;
$standart-red:#EC1B24;
$standad-purple: #9E2896;
$standad-blue: #007BC0;
$standad-moss: #18837E;
$standad-green: #00884A;